:host {
	font-family: system-ui;
	color: bisque;
	background-color: darkslategray;

	/* Testing nesting, just to see… */
	& h1 {
		background-image: linear-gradient(to right, transparent, hsl(180, 71%, 7%));
	}
}

.my-button {
	font-family: fantasy;
	font-size: 4rem;
	padding: 1rem;
}
