:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.87);
	color-scheme: light dark;
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}

/* Make all template shadowroot invisible till polyfill converts it to
 * actual shadowroot. This is only for browsers that don't support
 * Declarative Shadow DOM */
* > template[shadowroot] ~ * {
	display: none;
}
